.nameEnglish {
  font-family: HelveticaNeueBold;
  font-size: 130%;
  display: flex;
  justify-content: center;
  margin-top: -10%;
}

.titleEnglish {
  font-family: HelveticaNeueLight;
  font-size: 110%;
  display: flex;
  justify-content: center;
  margin-top: -10%;
}

.nameHebrew {
  font-family: FbSpoilerBold;
  font-size: 100%;
  display: flex;
  justify-content: center;
  margin-top: -10%;
}

.titleHebrew {
  font-family: FbSpoilerRegular;
  font-size: 90%;
  display: flex;
  justify-content: center;
  margin-top: -10%;
}

/* Responsive */

@media screen and (max-width: 1000px) and (min-width: 500px) {
  .nameEnglish {
    font-size: 70%;
    margin-top: -14%;
  }

  .titleEnglish {
    font-size: 60%;
    margin-top: -14%;
  }

  .nameHebrew {
    font-size: 70%;
    margin-top: -14%;
  }

  .titleHebrew {
    font-size: 60%;
    margin-top: -14%;
  }
}

@media screen and (max-width: 500px) and (min-width: 0px) {
  .nameEnglish {
    font-size: 70%;
    margin-top: -22%;
  }

  .titleEnglish {
    font-size: 60%;
    margin-top: -17%;
  }

  .nameHebrew {
    font-size: 70%;
    margin-top: -22%;
  }

  .titleHebrew {
    font-size: 60%;
    margin-top: -17%;
  }
}
