/* General */

#Button {
  border-radius: 1500px;
  background-color: white;
  border: solid 1px #544333;
  color: #544333;
  font-size: 170%;
}

#Button:hover {
  color: white;
  background-color: #544333;
  border: solid #544333 1px;
}

#Button:focus {
  color: white;
  background-color: #544333;
  border: solid #544333 1px;
}

/* Hebrew */
.cardHebrewButton {
  font-family: FbSpoilerRegular;
  padding: 0 2% 0 2%;
  margin-right: 15%;
  float: right;
}

/* English*/
.cardEnglishButton {
  text-transform: uppercase;
  font-family: Oswald;
  margin-top: 3%;
  padding: 0.5% 3% 0.5% 3%;
  margin-left: 15%;
}

/* Responsive */

@media screen and (max-width: 1000px) and (min-width: 500px) {
  #Button {
    font-size: 130%;
  }
}

@media screen and (max-width: 500px) and (min-width: 0px) {
  #Button {
    font-size: 70%;
  }
}
