.LanguageSwitcher {
  display: flex;
  user-select: none;
  font-size: 150%;
  height: 80%;
  text-decoration: none;
}

.nonSelected {
  color: #544333;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em no-repeat;
  transition: 0.3s background-size;
  margin: 0 -9%;
}

.nonSelected:hover {
  color: #85a13d;
  background-size: 50% 0.1em;
}
.selected {
  color: #544333;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em no-repeat;
  transition: 0.3s background-size;
  margin: 0 -9%;
  background-size: 50% 0.1em;
}

.selected:hover {
  color: #85a13d;
  background-size: 60% 0.1em;
}

/* Responsive */

@media screen and (max-width: 1000px) and (min-width: 500px) {
  .LanguageSwitcher {
    height: 40%;
    font-size: 80%;
  }
  .nonSelected {
    margin: 0 -15%;
  }
  .nonSelected:hover {
    background-size: 40% 0.1em;
  }

  .selected {
    margin: 0 -15%;
    background-size: 30% 0.1em;
  }
  .selected:hover {
    background-size: 40% 0.1em;
  }
}

@media screen and (max-width: 500px) and (min-width: 0px) {
  .LanguageSwitcher {
    height: 40%;
    font-size: 60%;
  }
  .nonSelected {
    margin: 0 -18%;
  }
  .nonSelected:hover {
    background-size: 20% 0.1em;
  }

  .selected {
    margin: 0 -18%;
    background-size: 25% 0.1em;
  }
  .selected:hover {
    background-size: 25% 0.1em;
  }
}
