.memberBoard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 10%;
}
.member {
  width: 200px;
  margin: 25px;
  border-radius: 10px;
  border: 2px solid #544333;
}

/* Responsive */

@media screen and (max-width: 1000px) and (min-width: 500px) {
  .memberBoard {
    margin: 0 3%;
  }

  .member {
    width: 100px;
  }
}

@media screen and (max-width: 500px) and (min-width: 0px) {
  .memberBoard {
    justify-content: center;
    margin: 0 -20%;
  }

  .member {
    width: 50px;
    border: 1px solid #544333;
  }
}
