/* Hebrew */

.cardHebrew {
  font-family: FbSpoilerRegular;
  font-size: 180%;
  text-align: right;
  margin: 0 12%;
  padding: 1%;
  color: #544333;
  direction: rtl;
}

.cardHebrew h2 {
  margin-top: 1.5%;
  font-family: FbSpoilerBold;
  font-size: 140%;
}

.cardHebrew h3 {
  font-family: FbSpoilerBold;
  font-size: 130%;
}

/* English */

.cardEnglish {
  font-family: HelveticaNeue;
  font-size: 110%;
  margin: 0 12%;
  padding: 1%;
  color: #544333;
}

.cardEnglish h2 {
  margin-top: 1.5%;
  font-family: HelveticaNeueExtraBold;
  font-size: 150%;
}

.cardEnglish h3 {
  font-family: HelveticaNeueExtraBold;
  font-size: 130%;
}

.commentParagraph {
  font-size: 70%;
}

/* Responsive */

@media screen and (max-width: 1000px) and (min-width: 500px) {
  .cardHebrew {
    font-size: 130%;
  }

  .cardEnglish {
    font-size: 100%;
  }
}

@media screen and (max-width: 500px) and (min-width: 0px) {
  .cardHebrew {
    font-size: 65%;
  }

  .cardEnglish {
    font-size: 50%;
  }
}
