/* English */

.popup_cardEnglish {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner_cardEnglish {
  position: relative;
  margin: -5% 35% 0 35%;
  padding: 2% 0 7% 0;
  text-align: center;
  background: white;
  font-family: HelveticaNeueLight;
  letter-spacing: 1px;
}

.iconLand_cardEnglish {
  font-family: HelveticaNeue;
  position: relative;
  margin: 5% 35%;
  background-color: #4bb543;
  z-index: 2;
  letter-spacing: 1px;
}

.title_pop_cardEnglish {
  color: white;
  justify-content: center;
  display: flex;
  font-size: 400%;
}

.nextSteps_cardEnglish {
  color: black;
  font-size: 300%;
}

.steps_cardEnglish {
  margin: 5% 0 0 5%;
  line-height: 200%;
  text-align: left;
  font-size: 200%;
}

/* Hebrew */

.popup_cardHebrew {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 110% !important;
}

.popup_inner_cardHebrew {
  position: relative;
  margin: -5% 35% 0 35%;
  padding: 2% 0 7% 0;
  text-align: center;
  background: white;
  direction: rtl;
  font-family: FbSpoilerLight;
}

#emailAdress {
  font-family: HelveticaNeueLight;
  letter-spacing: 1px;
  color: black;
  position: relative;
  font-size: 90%;
}

.iconLand_cardHebrew {
  direction: rtl;
  font-family: FbSpoilerRegular;
  position: relative;
  margin: 5% 35%;
  background-color: #4bb543;
  z-index: 2;
}

.title_pop_cardHebrew {
  color: white;
  justify-content: center;
  display: flex;
  font-size: 350%;
}

.nextSteps_cardHebrew {
  color: black;
  font-size: 250%;
}

.steps_cardHebrew {
  margin: 5% 5% 0 0;
  line-height: 200%;
  text-align: right;
  font-size: 150%;
}

/* Responsive */

@media screen and (min-width: 600px) and (max-width: 1300px) {
  .popup_cardEnglish {
    font-size: 70% !important;
  }
  .popup_inner_cardEnglish {
    margin: -5% 25% 5% 25%;
  }

  .iconLand_cardEnglish {
    margin: 5% 25%;
  }

  .popup_cardHebrew {
    font-size: 70% !important;
  }
  .popup_inner_cardHebrew {
    margin: -5% 25% 5% 25%;
  }

  .iconLand_cardHebrew {
    margin: 5% 25%;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .popup_cardEnglish {
    font-size: 50% !important;
  }
  .popup_inner_cardEnglish {
    margin: -5% 15% 5% 15%;
  }

  .iconLand_cardEnglish {
    margin: 5% 15%;
  }

  .popup_cardHebrew {
    font-size: 50% !important;
  }
  .popup_inner_cardHebrew {
    margin: -5% 15% 5% 15%;
  }

  .iconLand_cardHebrew {
    margin: 5% 15%;
  }
}
