body {
  margin: 0 !important;
}

@font-face {
  font-family: FbSpoilerLight;
  src: url(../../resources/fonts/FbSpoiler//FbSpoiler-Light.otf);
}

@font-face {
  font-family: FbSpoilerRegular;
  src: url(../../resources/fonts/FbSpoiler/FbSpoiler-Regular.otf);
}

@font-face {
  font-family: FbSpoilerBold;
  src: url(../../resources/fonts/FbSpoiler/FbSpoiler-Bold.otf);
}

@font-face {
  font-family: FbSpoilerBlack;
  src: url(../../resources/fonts/FbSpoiler/FbSpoiler-Black.otf);
}

@font-face {
  font-family: Oswald;
  src: url(../../resources/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: Delius;
  src: url(../../resources/fonts/Delius/Delius-Regular.ttf);
}

@font-face {
  font-family: HelveticaNeue;
  src: url(../../resources/fonts/HelveticaNeue/HelveticaNeue_Regular.otf);
}

@font-face {
  font-family: HelveticaNeueExtraBold;
  src: url(../../resources/fonts/HelveticaNeue/HelveticaNeue_ExtraBold.otf);
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url(../../resources/fonts/HelveticaNeue/HelveticaNeue_Bold.otf);
}

@font-face {
  font-family: HelveticaNeueBoldItalic;
  src: url(../../resources/fonts/HelveticaNeue/HelveticaNeue_Bold_Italic.otf);
}

@font-face {
  font-family: HelveticaNeueLight;
  src: url(../../resources/fonts/HelveticaNeue/HelveticaNeue_Light.otf);
  unicode-range: U+00-FF, U+980-9FF;
}

@media screen and (min-width: 0px) and (max-width: 300px) {
  .app {
    width: 0;
  }

  .navBar {
    display: none;
  }

  .logoDiv {
    display: none;
  }

  .footerDiv {
    display: none;
  }

  .cardEnglishParagraph {
    display: none;
  }

  .cardEnglish {
    display: none;
  }

  #Button {
    display: none;
  }
}

@media screen and (min-width: 4500px) {
  .app {
    width: 0;
  }

  .navBar {
    display: none;
  }

  .logoDiv {
    display: none;
  }
}
