.footerObjectEngilsh {
  margin-top: 5%;
  background-color: #85a13d;
  color: white;
  margin: 0;
  font-size: 150%;
  font-family: HelveticaNeueLight;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerObjectHebrew {
  margin-top: 5%;
  background-color: #85a13d;
  color: white;
  margin: 0;
  font-size: 150%;
  font-family: FbSpoilerRegular;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalLine {
  font-size: 180%;
}

.footerMailLink {
  font-family: "HelveticaNeueLight", Arial;
  color: white;
  letter-spacing: 1px;
}

.footerMailLink:hover {
  text-decoration: none;
  color: white;
}

.leaf {
  width: 8%;
  margin-left: 5%;
}

/* Responsive layout*/

@media screen and (max-width: 4500px) and (min-width: 2000px) {
  .leaf {
    width: 4%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .footerObjectEngilsh {
    font-size: 95%;
  }

  .footerObjectHebrew {
    font-size: 100%;
  }

  .verticalLine {
    font-size: 130%;
  }
}

@media screen and (max-width: 600px) and (min-width: 450px) {
  .footerObjectEngilsh {
    font-size: 70%;
  }

  .footerObjectHebrew {
    font-size: 70%;
  }

  .verticalLine {
    font-size: 100%;
  }
}

@media screen and (max-width: 450px) and (min-width: 350px) {
  .footerObjectEngilsh {
    font-size: 50%;
  }

  .footerObjectHebrew {
    font-size: 50%;
  }

  .verticalLine {
    font-size: 80%;
  }
}

@media screen and (max-width: 350px) and (min-width: 0px) {
  .footerObjectEngilsh {
    font-size: 40%;
  }

  .footerObjectHebrew {
    font-size: 45%;
  }
}
